# Dependencies
node_modules/

# Test artifacts
allure-results/
ordino-report/
test-results/
playwright-report/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Logs
*.log
npm-debug.log*
